



<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>後綁帶傘狀長洋裝 ｜ mouggan | 我們都有點不同</title>
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="description" property="og:description" itemprop="description" content="**預購預計7月中下旬到貨&lt;br&gt;&lt;br&gt;有內裡/肩帶可自行調節/後中心上緣V口設計/脇邊隱形口袋/側邊下襬處開疊衩&lt;br&gt;&lt;br&gt;&lt;br&gt;1.深淺色需分開洗滌，以避免造成互相移染。此商品易因摩擦而導致沾色，穿著淺色時請避免接觸深色物品。&lt;br&gt;&lt;br&gt;2.請放入大小適中之細網洗衣袋細中弱速水洗，以保持商品型態。&lt;br" />
    <meta property="fb:app_id" content="621265704944567" />
    <meta property="fb:pages" content="102315771146862" />
    <meta property="og:locale" content="zh_TW" />
    <meta property="og:title" itemprop="name" content="後綁帶傘狀長洋裝 ｜ mouggan | 我們都有點不同" />
    <meta property="og:url" itemprop="url" content="https://www.mouggan.com/en-us/market/n/1135" />
    <meta property="og:image" itemprop="image" content="https://pics.mouggan.com/mouggan/ProductBasics/b6f931fb-e5da-46bc-8f55-a40e4b71edc1.jpg" />
    <meta property="og:type" content="product.item" />
    <meta property="og:site_name" content="mouggan" />
    
    <meta property="product:condition" content="new">
    <meta property="product:availability" content="in stock">
    <meta property="product:price:amount" content="1680">
    <meta property="product:price:currency" content="TWD">

    <link rel="canonical" href="https://www.mouggan.com/en-us/market/n/1135" />
    <link rel="shortcut icon" type="image/x-icon" href="https://pics.mouggan.com/mouggan/System/018123d0-5d3c-46b1-84b9-433177dedb07.png" />
    <link rel="icon" type="image/x-icon" href="https://pics.mouggan.com/mouggan/System/c9d25af9-6be4-445c-b250-6985c51d201d.png" />
    <link rel="apple-touch-icon-precomposed" href="https://pics.mouggan.com/mouggan/System/7820754c-08cf-4d87-8320-efaa0c9895fe.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://pics.mouggan.com/mouggan/System/b0be5c3d-1089-44d3-a0a8-412e8bcdbdfb.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://pics.mouggan.com/mouggan/System/51e62d95-075a-4d40-8689-7320db42f649.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://pics.mouggan.com/mouggan/System/51e62d95-075a-4d40-8689-7320db42f649.png" />
    <link rel="apple-touch-icon" href="https://pics.mouggan.com/mouggan/System/51e62d95-075a-4d40-8689-7320db42f649.png" />

    <link href="https://static.tpx.tw/sff/mouggan/css/main.css?v=20220518v1" rel="stylesheet">
    <link href="https://static.tpx.tw/sff/mouggan/css/rwd-content.css?v=20220518v1" rel="stylesheet">


    

    <!--AIQUA-->
    <script>
        function htmlDecode(input) {
            var doc = new DOMParser().parseFromString(input, "text/html");
            return doc.documentElement.textContent;
        }
    </script>
    <!--AIQUA-->

    
    <script>
        var dataLayer = dataLayer || [];
        dataLayer.push({
            "ecommerce": {
                "currencyCode": "TWD",
                "detail": {
                    "actionField": {'list': '商品明細頁'},
                    "products": [{
                        "id": "MT1M1135CL2327",
                        "name": htmlDecode('後綁帶傘狀長洋裝'),
                        "price": "1680",
                        "sale_price": "1480",
                        "brand": htmlDecode('mouggan'),
                        "variant": htmlDecode('白')
                    }]
                },
                "impressions": [
                ]
            }
        });

        var fb_purchase = {
            content_ids: ['MT1M1135CL2327'],
            content_type: 'product',
            value: 1680,
            currency: 'TWD'
        };
    </script>


    <script>
        window.Email = '';
    </script>

    <!--AIQUA-->
    <script>
        var dataLayer = dataLayer || [];

            dataLayer.push({
            //AIQUA 註冊參數
            "register": '',
            //AIQUA 登入參數
            "login": ''
        });
    </script>

    <!-- Google Tag Manager -->
    <script>
        var fbd = {
            em: ''
        };
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-53J2GCF');

    </script>
    <!-- End Google Tag Manager -->
</head>
<body id="page-shop-content" class="style-lang-en">
    <div class="modal fade" id="lb-langage" tabindex="-1">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Language</h4>
                    <a class="close" href="#" data-dismiss="modal" aria-label="Close">
                        <i class="icon-close"></i>
                    </a>
                </div>
                <div class="modal-body text-gray-800">
                    <div class="quality-box text-center">
                        <div class="inner-box">
                            <a class="btn-quality text-uppercase d-block py-3 border-bottom" href="/language?c=zh-TW&amp;r=https%3A%2F%2Fwww.mouggan.com%2Fen-us%2Fmarket%2Fn%2F1135%3Fc%3D2327">繁中</a>
                            <a class="btn-quality text-uppercase d-block py-3 " href="/language?c=en-US&amp;r=https%3A%2F%2Fwww.mouggan.com%2Fen-us%2Fmarket%2Fn%2F1135%3Fc%3D2327">EN</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script>
            var showEvent = false;
        </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-53J2GCF"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->


    







<header class="header">
    <div class="container-fluid align-items-center justify-content-center position-relative">
        <div class="header-inner">
            <div class="logo">
                <a href="/en-us/"><img class="img-fluid" src="https://static.tpx.tw/sff/mouggan/static/img/logo.png" alt=""></a>
            </div>
            <div class="navbar-nav">
                <ul class="d-md-inline-block d-none align-top">
                    <li class="nav-item s-logo ml-0">
                        <a href="/en-us/"><i class="icon-s-logo"></i></a>
                    </li>
                </ul>
                
<ul class="main-list member-nav">
    <li class="nav-item search-item" style="width: auto;">
        <a class="btn-global-search global-search d-md-inline-block d-none" href="">
            <i class="icon-search hide-search"></i>
        </a>
        <a class="btn-global-search-mobile hide-search global-search d-inline-block d-md-none" href="">
            <i class="icon-search"></i>
        </a>
        <span class="close-global-search-m">
            <a class="close-global-search" href="">
                <i class="icon-close"></i>
            </a>
        </span>
        <form class="search-form align-bottom" id="form-global-search" action="">
            <i class="icon-search2"></i>
            <input class="input-global-search form-control border-0 d-inline-block mx-2" id="search-input" type="text" placeholder="SEARCH">
            <a class="close-global-search" href="">
                <i class="icon-close"></i>
            </a>
        </form>

    </li>
        <li class="nav-item d-md-inline-block d-none hide-search">
            <a href="/en-us/login">
                <div class="text-en" style="margin-left: -18px;">Login</div>
                <i class="icon-member"></i>
            </a>
        </li>
        <li class="nav-item hide-search" id="app-mini-cart">
        <a class="open-sidebar" href="#" data-sidebar="#cart-menu" data-mask="#cart-mask" ref="cartdot" :class="{'show': count !== 0 &amp;&amp; dataisload}">
            <div class="text-en" style="margin-left: -15px;">Cart</div><i class="icon-cart"></i><span v-text=" count "></span>
        </a>
        <div class="sidebar h5" id="cart-menu">
            <div class="inner-block p-5">
                <a class="close-sidebar float-right" data-sidebar="#cart-menu" data-mask="#cart-mask" data-btn="" href="#"><i class="icon-close" style="width: 18px; height: 18px;"></i></a>
                <div class="clearfix"></div>
                <div class="shopping-cart-list my-5">
                    <ul>
                        <li class="text-left mb-3" v-if="count !== 0 &amp;&amp; dataisload" v-for="(item, index) in datas" :index="index" :key="item.CustomMarketID">
                            <a class="row m-0" :href="item.Url">
                                <div class="col-4 cart-img p-0 pr-4">
                                    <div class="inner-wrap item-img-box">
                                        <new-image :url="item.Cover" :size="'_w120_h160'" :name="item.Name"></new-image>
                                    </div>
                                </div>
                                <div class="col-8 p-0">
                                    <div class="item-name d-block text-truncate mb-4" :href="item.Url">{{item.Name}}</div>
                                    <div><span>尺寸 </span><span class="item-size">{{item.Size}}</span></div>
                                    <div><span>顏色 </span><span class="item-color">{{item.ColorName}}</span></div>
                                    <div><span>數量 </span><span>{{item.Count}}</span></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <a class="btn-go-cart btn btn-outline-primary btn-lg w-100" href="/en-us/checkout"></a>
            </div>
        </div>
    </li>
    <li class="nav-item d-md-none d-inline-block hide-search">
        <a class="open-sidebar btn-burger" href="#" data-sidebar="#burger-menu" data-mask="#burger-mask">
            <span></span>
        </a>
    </li>
</ul>

                


<ul class="main-list d-md-inline-block d-none hide-search">
    <li class="nav-item nav-change">
        <a class="nav-new" href="/en-us/recent"></a>
    </li>
    <li class="nav-item nav-change">
        <a class="nav-best" href="/en-us/hot" title="熱賣商品"></a>
    </li>
    <li class="nav-item nav-change">
        <a class="nav-wish" href="/en-us/favorite"></a>
    </li>
    <li class="nav-item nav-change">
        <a class="nav-all" href="/en-us/category/ALL-ITEM"></a>
        <div class="sub-list-block down-left">
            <ol class="sub-list">
                            <li>
                                <a href="/en-us/category/restock">restock</a>
                            </li>
                            <li>
                                <a href="/en-us/category/preorder">pre-order</a>
                            </li>
                            <li>
                                <a href="/en-us/category/outlet">clearance / outlet</a>
                            </li>
                            <li>
                                <a href="/en-us/category/co-branding">co-branding</a>
                            </li>
                            <li>
                                <a href="/en-us/category/LAB">mouggan LAB</a>
                            </li>
                            <li>
                                <a href="/en-us/category/mougganhome">mouggan home</a>
                            </li>
                            <li>
                                <a href="/en-us/category/our-must-haves">our must haves</a>
                            </li>
                            <li>
                                <a href="/en-us/category/tops">tops</a>
                            </li>
                            <li>
                                <a href="/en-us/category/bottoms">bottoms</a>
                            </li>
                            <li>
                                <a href="/en-us/category/outerwear">outerwear</a>
                            </li>
                            <li>
                                <a href="/en-us/category/dress-jumpsuits">dress &amp; jumpsuits</a>
                            </li>
                            <li>
                                <a href="/en-us/category/suits">suits</a>
                            </li>
                            <li>
                                <a href="/en-us/category/accessories">accessories</a>
                            </li>
                            <li>
                                <a href="/en-us/category/shoes">shoes</a>
                            </li>
            </ol>
        </div>
    </li>

    <li class="nav-item story-item">
                <a href="/en-us/story/I-Have-No-One-Style">Story</a>
        <div class="sub-list-block down-left">
            <ol class="sub-list">
                            <li>
                                <a href="/en-us/story/I-Have-No-One-Style">I Have No One Style</a>
                            </li>
                            <li>
                                <a href="/en-us/story/Accessories-04-Erosion">Accessories 04. Erosion</a>
                            </li>
                            <li>
                                <a href="/en-us/story/220516-New-Collection">220516 New Collection</a>
                            </li>
                            <li>
                                <a href="/en-us/story/mouggan-home-2022-SS">mouggan home 2022 SS</a>
                            </li>
                            <li>
                                <a href="/en-us/story/220418-New-Collection">220418 New Collection</a>
                            </li>
            </ol>
        </div>
    </li>
    <li class="nav-item story-item">
        <a href="/en-us/ig/mouggangirls">#mouggangirl</a>
    </li>
</ul>

            </div>
        </div>
    </div>
</header>




<div class="sidebar h4" id="burger-menu">
    <div class="inner-block p-5">
        <ul class="accordion" id="accordionMobileMenu">
            <li class="mb-4"><a href="/en-us/recent">最新</a></li>
            <li class="mb-4"><a href="/en-us/hot">熱賣商品</a></li>
            <li class="mb-4"><a href="/en-us/favorite">慾望清單</a></li>
            <li class="mb-4 story-item">
                <a class="menu-collapse with-plus collapsed" href="#" data-toggle="collapse" data-target="#collapse-1" aria-expanded="true">髦梗故事</a>
                <div class="collapse menu-collapse-block" id="collapse-1" data-parent="#accordionMobileMenu">
                    <ol class="p-4">
                                    <li class="py-2">
                                        <a href="/en-us/story/I-Have-No-One-Style">I Have No One Style</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/story/Accessories-04-Erosion">Accessories 04. Erosion</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/story/220516-New-Collection">220516 New Collection</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/story/mouggan-home-2022-SS">mouggan home 2022 SS</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/story/220418-New-Collection">220418 New Collection</a>
                                    </li>
                    </ol>
                </div>
            </li>
                <li class="mb-4">
                    <a class="menu-collapse with-plus collapsed" href="#" data-toggle="collapse" data-target="#collapse0" aria-expanded="true">event</a>
                    <div class="collapse menu-collapse-block" id="collapse0" data-parent="#accordionMobileMenu">
                        <ol class="p-4">
                            <li>
                                <a href="/en-us/campaign">event全系列</a>
                            </li>
                                    <li class="py-2">
                                        <a href="/en-us/campaign/NEWPING1Q200DA"> 屏屏著用款 限時單件折200</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/campaign/EVENTTEE2Q100DA"> 素TEE 2件 &#183; 單件折100</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/campaign/NEWACC2Q8R"> 飾品活動│2件8折</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/campaign/EVENTBRATOP2Q100DA"> BRATOP 2 件 &#183; 單件折100</a>
                                    </li>
                        </ol>
                    </div>
                </li>
                <li class="mb-4">
                    <a class="menu-collapse with-plus collapsed" href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="true">story</a>
                    <div class="collapse menu-collapse-block" id="collapse1" data-parent="#accordionMobileMenu">
                        <ol class="p-4">
                            <li>
                                <a href="/en-us/tag">story全系列</a>
                            </li>
                                    <li class="py-2">
                                        <a href="/en-us/tag/20220606"> 0606 屏屏</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/tag/20220523"> 0523  ACC 04. Erosion</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/tag/20220516"> 0516 New Collection</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/tag/20220503"> 0503 吳斐莉</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/tag/20220418"> 0418 NEW COLLECTION</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/tag/220411"> 0411 金針菇</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/tag/220321"> 0321 Naomi</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/tag/220307"> 0307 宇宙 林思宇</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/tag/220221"> 0221 王真琳</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/tag/220207"> 0207 Liz 荔枝兒</a>
                                    </li>
                        </ol>
                    </div>
                </li>
                <li class="mb-4">
                    <a class="menu-collapse with-plus collapsed" href="#" data-toggle="collapse" data-target="#collapse2" aria-expanded="true">restock</a>
                    <div class="collapse menu-collapse-block" id="collapse2" data-parent="#accordionMobileMenu">
                        <ol class="p-4">
                            <li>
                                <a href="/en-us/category/restock">restock全系列</a>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="mb-4">
                    <a class="menu-collapse with-plus collapsed" href="#" data-toggle="collapse" data-target="#collapse3" aria-expanded="true">pre-order</a>
                    <div class="collapse menu-collapse-block" id="collapse3" data-parent="#accordionMobileMenu">
                        <ol class="p-4">
                            <li>
                                <a href="/en-us/category/preorder">pre-order全系列</a>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="mb-4">
                    <a class="menu-collapse with-plus collapsed" href="#" data-toggle="collapse" data-target="#collapse4" aria-expanded="true">clearance / outlet</a>
                    <div class="collapse menu-collapse-block" id="collapse4" data-parent="#accordionMobileMenu">
                        <ol class="p-4">
                            <li>
                                <a href="/en-us/category/outlet">clearance / outlet全系列</a>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="mb-4">
                    <a class="menu-collapse with-plus collapsed" href="#" data-toggle="collapse" data-target="#collapse5" aria-expanded="true">co-branding</a>
                    <div class="collapse menu-collapse-block" id="collapse5" data-parent="#accordionMobileMenu">
                        <ol class="p-4">
                            <li>
                                <a href="/en-us/category/co-branding">co-branding全系列</a>
                            </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/co-branding/THRIVE"> THRIVE 繁生聯名</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/co-branding/UR"> URBAN RESEARCH 聯名</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/co-branding/PLAINME"> plain-me x mouggan 聯名</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/co-branding/petersu"> Peter Su 聯名</a>
                                    </li>
                        </ol>
                    </div>
                </li>
                <li class="mb-4">
                    <a class="menu-collapse with-plus collapsed" href="#" data-toggle="collapse" data-target="#collapse6" aria-expanded="true">mouggan LAB</a>
                    <div class="collapse menu-collapse-block" id="collapse6" data-parent="#accordionMobileMenu">
                        <ol class="p-4">
                            <li>
                                <a href="/en-us/category/LAB">mouggan LAB全系列</a>
                            </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/LAB/2021AW"> 2021 AW</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/LAB/2021ss"> 2021 SS</a>
                                    </li>
                        </ol>
                    </div>
                </li>
                <li class="mb-4">
                    <a class="menu-collapse with-plus collapsed" href="#" data-toggle="collapse" data-target="#collapse7" aria-expanded="true">mouggan home</a>
                    <div class="collapse menu-collapse-block" id="collapse7" data-parent="#accordionMobileMenu">
                        <ol class="p-4">
                            <li>
                                <a href="/en-us/category/mougganhome">mouggan home全系列</a>
                            </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/mougganhome/loungewear"> 家居服</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/mougganhome/bedding"> 寢具</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/mougganhome/candle"> 香氛小物</a>
                                    </li>
                        </ol>
                    </div>
                </li>
                <li class="mb-4">
                    <a class="menu-collapse with-plus collapsed" href="#" data-toggle="collapse" data-target="#collapse8" aria-expanded="true">our must haves</a>
                    <div class="collapse menu-collapse-block" id="collapse8" data-parent="#accordionMobileMenu">
                        <ol class="p-4">
                            <li>
                                <a href="/en-us/category/our-must-haves">our must haves全系列</a>
                            </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/our-must-haves/fairy"> fairy 仙氣單品</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/our-must-haves/cozy"> cozy items 居家必備</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/our-must-haves/manjus-picks"> Manju&#39;s picks</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/our-must-haves/lilas-picks"> Lila&#39;s picks</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/our-must-haves/office-looks"> office looks</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/our-must-haves/party-girl"> party looks</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/our-must-haves/unisex"> unisex</a>
                                    </li>
                        </ol>
                    </div>
                </li>
                <li class="mb-4">
                    <a class="menu-collapse with-plus collapsed" href="#" data-toggle="collapse" data-target="#collapse9" aria-expanded="true">all items</a>
                    <div class="collapse menu-collapse-block" id="collapse9" data-parent="#accordionMobileMenu">
                        <ol class="p-4">
                            <li>
                                <a href="/en-us/category/ALL-ITEM">all items全系列</a>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="mb-4">
                    <a class="menu-collapse with-plus collapsed" href="#" data-toggle="collapse" data-target="#collapse10" aria-expanded="true">tops</a>
                    <div class="collapse menu-collapse-block" id="collapse10" data-parent="#accordionMobileMenu">
                        <ol class="p-4">
                            <li>
                                <a href="/en-us/category/tops">tops全系列</a>
                            </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/tops/bratop"> 內著</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/tops/sleeveless"> 背心 </a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/tops/shortsleeve"> 短袖上衣</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/tops/longsleeve"> 長袖上衣</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/tops/tshirts"> T 恤</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/tops/shirts"> 襯衫</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/tops/knitwear"> 針織衫 | 毛衣</a>
                                    </li>
                        </ol>
                    </div>
                </li>
                <li class="mb-4">
                    <a class="menu-collapse with-plus collapsed" href="#" data-toggle="collapse" data-target="#collapse11" aria-expanded="true">bottoms</a>
                    <div class="collapse menu-collapse-block" id="collapse11" data-parent="#accordionMobileMenu">
                        <ol class="p-4">
                            <li>
                                <a href="/en-us/category/bottoms">bottoms全系列</a>
                            </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/bottoms/skirts"> 裙類</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/bottoms/shorts"> 短褲</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/bottoms/trousers"> 長褲</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/bottoms/jeans"> 牛仔褲</a>
                                    </li>
                        </ol>
                    </div>
                </li>
                <li class="mb-4">
                    <a class="menu-collapse with-plus collapsed" href="#" data-toggle="collapse" data-target="#collapse12" aria-expanded="true">outerwear</a>
                    <div class="collapse menu-collapse-block" id="collapse12" data-parent="#accordionMobileMenu">
                        <ol class="p-4">
                            <li>
                                <a href="/en-us/category/outerwear">outerwear全系列</a>
                            </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/outerwear/vest"> 背心</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/outerwear/jackets"> 夾克 | 短外套</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/outerwear/blazers"> 西裝外套</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/outerwear/coats"> 大衣 | 風衣</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/outerwear/knits"> 針織外套</a>
                                    </li>
                        </ol>
                    </div>
                </li>
                <li class="mb-4">
                    <a class="menu-collapse with-plus collapsed" href="#" data-toggle="collapse" data-target="#collapse13" aria-expanded="true">dress &amp; jumpsuits</a>
                    <div class="collapse menu-collapse-block" id="collapse13" data-parent="#accordionMobileMenu">
                        <ol class="p-4">
                            <li>
                                <a href="/en-us/category/dress-jumpsuits">dress &amp; jumpsuits全系列</a>
                            </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/dress-jumpsuits/dress"> 連身裙</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/dress-jumpsuits/jumpsuits"> 連身褲</a>
                                    </li>
                        </ol>
                    </div>
                </li>
                <li class="mb-4">
                    <a class="menu-collapse with-plus collapsed" href="#" data-toggle="collapse" data-target="#collapse14" aria-expanded="true">suits</a>
                    <div class="collapse menu-collapse-block" id="collapse14" data-parent="#accordionMobileMenu">
                        <ol class="p-4">
                            <li>
                                <a href="/en-us/category/suits">suits全系列</a>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="mb-4">
                    <a class="menu-collapse with-plus collapsed" href="#" data-toggle="collapse" data-target="#collapse15" aria-expanded="true">accessories</a>
                    <div class="collapse menu-collapse-block" id="collapse15" data-parent="#accordionMobileMenu">
                        <ol class="p-4">
                            <li>
                                <a href="/en-us/category/accessories">accessories全系列</a>
                            </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/accessories/necklace"> 項鍊</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/accessories/Ring"> 戒指</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/accessories/hat"> 帽款</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/accessories/bag"> 包款</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/accessories/EARCUFF"> 耳扣/夾</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/accessories/EARRING"> 耳環</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/accessories/BRACELET"> 手鍊</a>
                                    </li>
                                    <li class="py-2">
                                        <a href="/en-us/category/accessories/brooch"> 胸針</a>
                                    </li>
                        </ol>
                    </div>
                </li>
                <li class="mb-4">
                    <a class="menu-collapse with-plus collapsed" href="#" data-toggle="collapse" data-target="#collapse16" aria-expanded="true">shoes</a>
                    <div class="collapse menu-collapse-block" id="collapse16" data-parent="#accordionMobileMenu">
                        <ol class="p-4">
                            <li>
                                <a href="/en-us/category/shoes">shoes全系列</a>
                            </li>
                        </ol>
                    </div>
                </li>
            <li class="mb-4 story-item"><a href="/ig/mouggangirls">#mouggangirl</a></li>
        </ul>
        <ul class="member-menu w-75">
            <li class="mb-4"><a class="menu-collapse with-plus collapsed" href="/user/account">會員中心</a></li>
            <li class="mb-4"><a class="menu-collapse with-plus collapsed" href="/user/order">訂單查詢</a></li>
            <li class="mb-4"><a class="menu-collapse with-plus collapsed" href="/user/vcurrency">購物金帳戶</a></li>
                <li class="mb-4"><a class="btn btn-outline-primary btn-lg btn-block" href="/en-us/login">登入</a></li>
        </ul>
    </div>
</div>
<div class="mask close-sidebar" id="burger-mask" data-sidebar="#burger-menu" data-mask="#burger-mask" data-btn=".open-sidebar"></div>
<div class="mobile-search-block" id="search-popup">
    <div class="container-fluid">
        <form class="search-form mt-3" action=""><input class="input-global-search form-control with-search mb-3" id="search-input-m" type="text" placeholder="請輸入關鍵字"><button class="btn btn-primary btn-block btn-lg" id="btn-global-search-m">搜尋</button></form>
    </div>
</div>

<div id="main-wrap">
    <div class="container-fluid">
        <div id="shop-content"></div>
    </div>
</div>

<footer class="footer">
    <div class="desktop d-md-block d-none">
        <div class="container-fluid align-items-center justify-content-center">
            <div class="footer-content mx-auto py-5">
                <div class="d-inline-block align-top footer-col">
                    <ul>
                        <li class="mb-4">
                            <div class="font-weight-bold">INFO</div>
                        </li>
                        <li class="mb-2">
                            <a class="change-lang" href="/en-us/faqs">
                                <span class="text-en">FAQs</span>
                                <span class="text-cn">常見問題</span>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a class="change-lang" href="https://www.mouggan.com/en-us/notice">
                                <span class="text-en">How to buy</span>
                                <span class="text-cn">購物說明</span>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a class="change-lang" href="/en-us/shipping">
                                <span class="text-en">Shipping</span>
                                <span class="text-cn">物流配送</span>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a class="change-lang" href="/en-us/salesreturn">
                                <span class="text-en">Returns</span>
                                <span class="text-cn">退貨流程</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="d-inline-block align-top footer-col">
                    <ul>
                        <li class="mb-4">
                            <div class="font-weight-bold"> mouggan</div>
                        </li>
                        <li class="mb-2">
                            <a class="change-lang" href="/en-us/about#as1">
                                <span class="text-en">About Us</span>
                                <span class="text-cn">關於我們</span>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a class="change-lang" href="/en-us/about#as2">
                                <span class="text-en">Affiliates</span>
                                <span class="text-cn">品牌合作</span>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a class="change-lang" href="/en-us/about#as3">
                                <span class="text-en">MEDIA</span>
                                <span class="text-cn">媒體</span>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a class="change-lang" href="/en-us/policy">
                                <span class="text-en">Privacy Policy</span>
                                <span class="text-cn">服務條款</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="d-inline-block align-top footer-col">
                    <ul>
                        <li class="mb-4">
                            <div class="font-weight-bold">GET IN TOUCH</div>
                        </li>
                        <li class="mb-2">
                            <span>write us, we always write back.</span>
                        </li>
                        <li class="mb-2 mb-2">
                            <a href="/cdn-cgi/l/email-protection#cebdabbcb8a7adab8ea3a1bba9a9afa0e0ada1a3ee"><span class="__cf_email__" data-cfemail="8dfee8fffbe4eee8cde0e2f8eaeaece3a3eee2e0">[email&#160;protected]</span> </a>
                        </li>
                        <li class="mb-2">
                            <div class="change-lang">
                                <span class="text-en">165 ANTI FRAUD</span>
                                <span class="text-cn">165 反詐騙諮詢專線</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-inline-block align-top footer-col">
                    <ul>
                        <li class="mb-4">
                            <div class="font-weight-bold">NEWSLETTER</div>
                        </li>
                        <li class="mb-2">
                            <span class="float-left pt-2 pr-2"><i class="icon-mail"></i></span>
                            <form id="form-newsletter-signup">
                                <input class="input-newsletter form-control" type="text" name="newsletter" placeholder="請輸入EMAIL訂閱電子報" style="width:200px;" required>
                            </form>
                            <div class="clearfix"></div>
                        </li>
                        <li class="mb-2">
                            <div>Subscribe to receive updates,</div>
                            <div>access to exclusive deals, and more.</div>
                        </li>
                        <li class="mb-2">
                            <a class="mr-3" href="https://www.instagram.com/mougganofficial/" target="_blank" title="instagram"><i class="icon-ig" style="width: 26px; height: 26px"></i></a>
                            <a class="mr-3" href="https://www.facebook.com/mouggan/" target="_blank" title="facebook"><i class="icon-fb" style="width: 26px; height: 26px" title="line"></i></a>
                            <a class="mr-3" href="http://nav.cx/iJlFndT" data-toggle="modal" data-target="#popup-qrcode"><i class="icon-line" style="width: 26px; height: 26px"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile d-md-none d-block">
        <div class="container-fluid align-items-center justify-content-center">
            <div class="py-5 px-2">
                <ul class="accordion" id="accordionFotter">
                    <li class="mb-3">
                        <a class="menu-collapse with-plus with-white-minus collapsed" href="#" data-toggle="collapse" data-target="#collapse-fotter1" aria-expanded="true">聯絡我們</a>
                        <div class="collapse menu-collapse-block with-white-border" id="collapse-fotter1" data-parent="#accordionFotter">
                            <ol class="p-4">
                                <li class="py-2">
                                    <a href="/en-us/faqs">常見問題</a>
                                </li>
                                <li class="py-2">
                                    <a href="https://www.mouggan.com/en-us/notice">購物說明</a>
                                </li>
                                <li class="py-2">
                                    <a href="/en-us/shipping">物流配送</a>
                                </li>
                                <li class="py-2">
                                    <a href="/en-us/salesreturn">退貨流程</a>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li class="mb-3">
                        <a class="menu-collapse with-plus with-white-minus collapsed" href="#" data-toggle="collapse" data-target="#collapse-fotter2" aria-expanded="true">關於 mouggan</a>
                        <div class="collapse menu-collapse-block with-white-border" id="collapse-fotter2" data-parent="#accordionFotter">
                            <ol class="p-4">
                                <li class="py-2">
                                    <a href="/en-us/about#as1">關於我們</a>
                                </li>
                                <li class="py-2">
                                    <a href="/en-us/about#as2">品牌合作</a>
                                </li>
                                <li class="py-2">
                                    <a href="/en-us/about#as3">媒體</a>
                                </li>
                            </ol>
                        </div>
                    </li>
                    <li class="mb-3">
                        <div class="mb-1">GET IN TOUCH</div>
                        <div class="lh-15">
                            <div>write us, we always write back.</div>
                            <div><a href="/cdn-cgi/l/email-protection#cebdabbcb8a7adab8ea3a1bba9a9afa0e0ada1a3ee"><span class="__cf_email__" data-cfemail="f7849285819e9492b79a988290909699d994989a">[email&#160;protected]</span> </a></div>
                        </div>
                    </li>
                    <li class="mb-4">
                        <div class="mb-2">請輸入EMAIL訂閱電子報</div>
                        <div class="mb-2">
                            <form class="form-newsletter-signup" id="form-newsletter-signup-mobile" action="" onsubmit="">
                                <input class="input-newsletter form-control with-border bg-white" type="text" name="newsletter" required>
                            </form>
                        </div>
                        <div class="lh-15">
                            <div>Subscribe to receive updates,</div>
                            <div>access to exclusive deals, and more.</div>
                        </div>
                    </li>
                    <li class="mb-3">
                        <a class="mr-3" href="https://www.instagram.com/mougganofficial/" target="_blank" title="instagram"><i class="icon-ig-white" style="width: 26px; height: 26px"></i></a>
                        <a class="mr-3" href="https://www.facebook.com/mouggan/" target="_blank" title="facebook"><i class="icon-fb-white" style="width: 26px; height: 26px" title="line"></i></a>
                        <a class="mr-3" href="http://nav.cx/iJlFndT"><i class="icon-line-white" style="width: 26px; height: 26px"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" id="popup-qrcode">
        <div class="modal-dialog mx-auto">
            <div class="modal-content">
                <div class="pb-5">
                    <h4 class="modal-title"></h4>
                    <a class="btn-close" href="#" data-dismiss="modal"><i class="icon-close2"></i></a>
                </div>
                <div class="modal-body">
                    <img src="https://static.tpx.tw/sff/mouggan/static/img/qrcode2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>


    <!-- Popup Banner  -->
            <div id="index-popup-center" class="index-popup modal fade text-center" tabindex="-1" data-key="141">
            <div class="modal-dialog d-inline-block" role="document">
                <div class="modal-content bg-transparent border-0">
                    <div class="modal-header">
                        <a href="#" class="close p-0" data-dismiss="modal" aria-label="Close">
                            <i class="icon-popup-close"></i>
                        </a>
                    </div>
                    <div class="modal-body p-0 text-center">
                        <a href="https://www.mouggan.com/en-us/recent" target=&#39;_blank&#39;>
                            <img class="img-fluid" src="https://pic.mouggan.com/mouggan/IndexWidget/e9a03621-6b6f-4920-8b0a-88813499c422.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>


<div class="top" id="top-btn">
    <a class="btn-top d-md-inline-block d-none" href="#">
        <div class="icon-btn-top"></div>
    </a><a class="btn-top btn-top-m d-inline-block d-md-none" href="#">
        <div class="icon-btn-top-m"></div>
    </a>
</div>

    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type=text/javascript src="https://static.tpx.tw/sff/mouggan/static/libs/js/vendors.js?V=20220512v1"></script>

    


    <script>
        window.StaticImgDomain = 'pics.mouggan.com';
        window.PictureContainer = 'mouggan';
    </script>

    
    <script>
        window.CategoryIDs = [39,119,40,46,20,44,62];
        window.CustomMarketID = 'MT1M1135CL2327SZ_';
    </script>
    <script type="text/javascript" src="https://static.tpx.tw/sff/mouggan/js/shopContent.js?V=20220512v1"></script>

    <script type="application/ld+json">
        {
        "@context": "http://schema.org/",
        "@type": "Product",
        "name": "後綁帶傘狀長洋裝",
        "image": "https://pics.mouggan.com/mouggan/ProductBasics/b6f931fb-e5da-46bc-8f55-a40e4b71edc1.jpg",
        "description": "**預購預計7月中下旬到貨有內裡/肩帶可自行調節/後中心上緣V口設計/脇邊隱形口袋/側邊下襬處開疊衩1.深淺色需分開洗滌，以避免造成互相移染。此商品易因摩擦而導致沾色，穿著淺色時請避免接觸深色物品。2.請放入大小適中之細網洗衣袋細中弱速水洗，以保持商品型態。&lt;br",
        "brand": {
        "@type": "Thing",
        "name": "",
        "image": "",
        "url":""
        },
        "offers": {
        "@type": "Offer",
        "priceCurrency": "TWD",
        "price": "1680",
        "url": "https://www.mouggan.com/en-us/market/n/1135?c=2327",
        "itemCondition": "http://schema.org/NewCondition",
        "availability": "http://schema.org/InStock",
        "priceValidUntil":"20240225"
        },
        "sku":"MT1M1135CL2327",
        "mpn":"MT1M1135CL2327"
        }
    </script>

    <script type="application/ld+json">
    {
    "@context": "http://schema.org/",
    "@type": "BreadcrumbList",
    "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item":"https://www.mouggan.com",
    "name": "首頁"
    },
    {"@type": "ListItem", "position": 2, "item": "https://www.mouggan.com/en-us/en-us/category/dress-jumpsuits", "name":"dress & jumpsuits"},{"@type": "ListItem", "position": 3, "item": "https://www.mouggan.com/en-us/market/n/1135?c=2327", "name":"後綁帶傘狀長洋裝"}
    ]
    }
    </script>


    
</body>
</html>